<div class="plan">
  <div class="plan-text">デイタイムプラン</div>
  <div class="price-container">
    <span class="¥-font-adjustment">￥</span><span class="figure">5,000</span>
    <div class="monthly-price">月額</div>
  </div>
  <div class="admission">入会金0円</div>
  <div class="weekday-business-hours">平日：9時～17時</div>
  <div class="weekend-business-hours">土日祝：利用ナシ</div>
  <div class="plan-description">コアタイムでの利用に最適なプラン</div>
</div>
<div class="plan">
  <div class="plan-text">スタンダードプラン</div>
  <div class="price-container">
    <span class="¥-font-adjustment">￥</span><span class="figure">15,000</span>
    <div class="monthly-price">月額</div>
  </div>
  <div class="admission">入会金0円</div>
  <div class="weekday-business-hours">平日：17時～23時</div>
  <div class="weekend-business-hours">土日祝：営業時間全て</div>
  <div class="plan-description">営業時間内で終日ご利用可能なプラン</div>
</div>
