<ul class="plan">
  <li class="plan-text">デイタイムプラン</li>
  <li class="price-container">
    <span class="¥-font-adjustment">￥</span><span class="figure">5,000</span>
    <div class="monthly-price">月額</div>
  </li>
  <li class="plan-descriptions">入会金0円</li>
  <li class="plan-descriptions">平日：9時～17時</li>
  <li class="plan-descriptions">土日祝：利用ナシ</li>
  <li class="plan-descriptions">
    <div class="plan-descriptions-blank">コアタイムでの利用に最適なプラン</div>
  </li>
</ul>
<ul class="plan">
  <li class="plan-text">スタンダードプラン</li>
  <li class="price-container">
    <span class="¥-font-adjustment">￥</span><span class="figure">15,000</span>
    <div class="monthly-price">月額</div>
  </li>
  <li class="plan-descriptions">入会金0円</li>
  <li class="plan-descriptions">平日：17時～23時</li>
  <li class="plan-descriptions">土日祝：営業時間全て</li>
  <li class="plan-descriptions">
    <div class="plan-descriptions-blank">
      営業時間内で終日ご利用可能なプラン
    </div>
  </li>
</ul>
