@use "../../variables" as *;

@mixin events-picture-hover {
  transform: scale(1.2, 1.2);
}
@mixin events-img {
  height: 141px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.events {
  .events-title {
    font-size: 0;
    margin-bottom: 32px;
    display: inline-block;
    .english {
      font-weight: normal;
      display: inline-block;
      vertical-align: middle;
      margin-right: 16px;
      font-size: $fontsize-l;
      font-family: $fontfamily-mincho;
      @media (min-width: $breakpoint-lg) {
        font-size: $fontsize-xxl;
      }
    }
    .japanese {
      vertical-align: middle;
      font-size: $fontsize-m;
    }
  }
  .events-href {
    text-decoration: none;
    .events-border {
      border: solid 1px $gray_gainsboro;
      margin: 0px 0px -1px;
      .events-theme-and-day-wrap {
        list-style-type: none;
        padding-left: 0;
        padding: 10px 20px 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 0;
        flex-grow: 1;
        color: $black;
        transition: 0.2s ease;
        &:hover {
          text-decoration: none;
          color: $orange_bistre;
          cursor: pointer;
        }
        .events-theme {
          margin-bottom: 8px;
          font-size: $fontsize-m;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          transition: 0.2s ease;
        }
        .events-day {
          color: $gray_nobel;
          font-size: $fontsize-xs;
        }
      }
    }
  }
  .events-list-link-container {
    text-align: right;
    margin: 40px 0 31px;
  }
  @media (min-width: $breakpoint-lg) {
    .events-border {
      display: flex;
      .events-img-hidden {
        overflow: hidden;
        width: 221.11px;
      }
      .events-theme-and-day-wrap {
        padding: 0 24px;
      }
      .events-img1 {
        @include events-img;
        background-image: url("./2.png");
      }
      .events-img2 {
        @include events-img;
        background-image: url("./1.png");
      }
      .events-img3 {
        @include events-img;
        background-image: url("./3.png");
      }
    }
  }
}
.events-border:hover .events-img1 {
  transition: 0.5s ease;
  @include events-picture-hover;
}
.events-border:hover .events-img2 {
  transition: 0.5s ease;
  @include events-picture-hover;
}
.events-border:hover .events-img3 {
  transition: 0.5s ease;
  @include events-picture-hover;
}
