<div class="events">
  <div class="events-title">
    <h3 class="english">Events</h3>
    <span class="japanese">イベント</span>
  </div>
  <a href="#" class="events-href">
    <article class="events-border">
      <div class="events-img-hidden">
        <div class="events-img1"></div>
      </div>
      <div class="events-theme-and-day-wrap">
        <p class="events-theme">
          全ての業種に対応した起業応援セミナーを開催します。
        </p>
        <div class="events-day">
          <time datetime="2018-06-20">2018.06.20</time>
        </div>
      </div>
    </article>
  </a>
  <a href="#" class="events-href">
    <article class="events-border">
      <div class="events-img-hidden">
        <div class="events-img2"></div>
      </div>
      <div class="events-theme-and-day-wrap">
        <p class="events-theme">
          第3回Switchクリエイター交流会開催いたします！
        </p>
        <div class="events-day">
          <time datetime="2018-06-18">2018.06.18</time>
        </div>
      </div>
    </article>
  </a>
  <a href="#" class="events-href">
    <article class="events-border">
      <div class="events-img-hidden">
        <div class="events-img3"></div>
      </div>
      <div class="events-theme-and-day-wrap">
        <p class="events-theme">
          Webビジネス初心者の方必見！Webサイト作成講座を3回にわたって開催します。
        </p>
        <div class="events-day">
          <time datetime="2018-06-12">2018.06.12</time>
        </div>
      </div>
    </article>
  </a>
  <div class="events-list-link-container">
    <a href="#" class="news-list-link"
      >イベント一覧<i class="fas fa-chevron-right"></i
    ></a>
  </div>
</div>
