@use "../../variables" as *;

.card {
  position: relative;
  z-index: 10;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-top: solid 150px $white;
    border-right: solid 150px transparent;
    z-index: 20;
  }
  .scale-box {
    overflow: hidden;
    .card-img-top {
      height: 100%;
      height: 384px;
      @media (min-width: $breakpoint-md) {
        height: 176px;
        transition: 0.5s ease;
        &:hover {
          transform: scale(1.2, 1.2);
        }
      }
    }
  }
  .card-title {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $white;
    margin-left: 6px;
    font-family: $fontfamily-gothic;
    font-size: $fontsize-l;
    z-index: 30;
  }
  .card-body {
    margin: 0px auto;
    .card-text {
      text-align: center;
      margin-top: 32px;
      margin-bottom: 47.5px;
      font-size: $fontsize-s;
    }
    .button {
      padding: 12.5px 64px;
      font-size: $fontsize-s;
      background-color: $black;
      color: $white;
      transition: 0.2s ease;
      cursor: pointer;
      @media (min-width: $breakpoint-md) {
        padding: 17.5px 49px;
      }
      @media (min-width: $breakpoint-lg) {
        padding: 17.5px 74px;
      }
      &:hover {
        background-color: $orange_bistre;
        color: $white;
        text-decoration: none;
      }
    }
  }
}
