<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
  integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
  crossorigin="anonymous"
/>
<div class="card">
  <div class="scale-box">
    <img src="./image1.png" class="card-img-top" alt="" />
  </div>
  <h6 class="card-title">card-title</h6>
  <div class="card-body">
    <p class="card-text">card-text</p>
    <a href="#" class="button">btn-text</a>
  </div>
</div>
