@use "../../variables" as *;

.top-img-and-p {
  position: relative;
  .top-img {
    width: 100%;
    height: 360px;
    object-fit: cover;
    object-position: 0 93%;
    @media (min-width: $breakpoint-lg) {
      height: auto;
    }
  }
  .top-p-on-img {
    writing-mode: vertical-rl;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 0;
    color: $white;
    font-family: $fontfamily-mincho;
    font-size: $fontsize-l;
    @media (min-width: $breakpoint-lg) {
      left: 50%;
      font-size: $fontsize-xl;
    }
  }
}
.top-message {
  width: 100%;
  padding: 0;
  margin: 0;
  .message-title-and-content-wrap {
    color: $white;
    background-color: $black;
    padding: 32px 160px;
    @media (min-width: $breakpoint-lg) {
      padding: 52px 36.5px 74px;
    }
  }
}
