<section class="top">
  <div class="top-img-and-p">
    <img class="top-img" src="./top-image.png" />
    <p class="top-p-on-img">そうだ。<br />カフェに行こう。</p>
  </div>

  <div class="message top-message">
    <div class="message-title-and-content-wrap">
      <div class="container">
        <h2 class="message-title">
          カフェで読書＆コワーキング。快適のフロアスペース空間。
        </h2>
        <p class="message-content">
          カフェエリアでコーヒーを注文し、ブックエリアでお好みの本を選び、コワーキングスペースでコーヒーと共に読書を楽しむ。<br />
          学校・仕事帰りに、平日の日中に、休日にゆっくり...さまざまなライフスタイルに合わせてご利用いただける多様なプランをご用意しております。
        </p>
      </div>
    </div>
  </div>
</section>
