<nav class="navbar navbar-expand-xl mb-3 d-print">
  <a class="navbar-brand" href="#"
    ><img
      src="./image 1.png"
      width="120"
      height="20.5"
      width-lg="140"
      height-lg="24"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"> </span>
  </button>
  <div
    class="collapse navbar-collapse justify-content-end"
    id="navbarNavDropdown"
  >
    <ul class="navbar-nav">
      <div class="home-container">
        <li class="nav-item">
          <a class="nav-link" href="#" role="button"> HOME </a>
        </li>
      </div>
      <li class="nav-item dropdown">
        <div class="dropdown-head">
          <a class="nav-link">CONCEPT</a>
          <button
            class="btn dropdown-toggle-split btn-dropdown"
            type="button"
            data-toggle="dropdown"
            data-target="#navbarDropdownMenu"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img class="" src="./plus.svg" />
          </button>
        </div>

        <div
          class="dropdown-menu concept-dropdown"
          id="navbarDropdownMenu"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <a class="dropdown-item" href="#">ブログアーカイブ</a>
          <a class="dropdown-item" href="#">お知らせアーカイブ</a>
          <a class="dropdown-item" href="#">イベントアーカイブ</a>
          <a class="dropdown-item" href="#">インタビューアーカイブ</a>
          <a class="dropdown-item" href="#">FAQページ</a>
          <a class="dropdown-item" href="#">固定ページ(デフォルト)</a>
          <a class="dropdown-item" href="#">CONCEPT</a>
          <a class="dropdown-item" href="#">SERVICE</a>
          <a class="dropdown-item" href="#">FLOOR</a>
          <a class="dropdown-item" href="#">ACCESS</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" role="button"> SERVICE </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" role="button"> FLOOR </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" role="button"> INTERVIEW </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" role="button"> BLOG </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" role="button"> ACCESS </a>
      </li>
      <div class="download-container">
        <li class="nav-item">
          <a class="nav-link" href="#" role="button"> DOWNLOAD </a>
        </li>
      </div>
    </ul>
  </div>
</nav>
