@use "../../variables" as *;
.header {
  .navbar {
    background-color: $black;
    padding: 0 16px;
    .navbar-brand {
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 0;
      .brand-img-size {
        width: 120px;
        height: 20.5px;
      }
    }
    .navbar-toggler {
      padding: 0;
      outline: none;
      .navbar-toggler-icon {
        background-image: url("../../../img/humberger-icon.svg");
      }
    }
    .navbar-nav {
      line-height: 30px;
      .nav-link {
        background-color: transparent;
        color: $white;
      }
      .btn {
        padding: 0;
        box-shadow: none;
      }
      .dropdown-head {
        display: flex;
        align-content: flex-start;
        justify-content: space-between;
      }
      .dropdown-menu {
        border-radius: 0;
        padding: 15px 0;
      }
      .concept-dropdown {
        background-color: $black;
        margin-top: 0;
        .dropdown-item {
          padding: 15px 0 15px 12px;
          color: $white;
          &:hover {
            background-color: $black;
          }
        }
      }
      .download-container {
        margin-bottom: 7px;
      }
    }
    @media (min-width: $breakpoint-xl) {
      background-color: $black_50;
      margin: 0;
      padding: 0 30px;
      .navbar-brand {
        margin-top: 0;
        margin-bottom: 0;
        .brand-img-size {
          width: 140px;
          height: 24px;
        }
      }
      .nav-item.dropdown:hover .dropdown-menu {
        display: block;
        .dropdown-item:hover {
          transition: background-color 0.2s ease;
          background-color: $orange_bistre;
        }
      }
      .navbar-nav .nav-link {
        margin: 35px 0;
        padding: 0 20px;
        &:hover {
          color: $gray_nobel;
        }
      }
      .btn-dropdown {
        display: none;
      }
      .navbar-nav .dropdown-menu {
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;
        .dropdown-item {
          padding: 18px 90px 18px 18px;
        }
      }
    }
  }
}
