@use "../../variables" as *;

.navbar {
  background-color: $black;
  padding: 0 16px;
  .navbar-brand {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
  }
  @media (min-width: $breakpoint-xl) {
    background-color: $black_50;
    margin: 0;
    padding: 0 30px;
    .navbar-brand {
      margin-top: 0;
      margin-bottom: 0;
    }
    .navbar-nav div.home-container {
      margin-top: 0;
    }
    .nav-item.dropdown:hover .dropdown-menu {
      display: block;
      .dropdown-item:hover {
        transition: background-color 0.2s ease;
        background-color: $orange_bistre;
      }
    }
    .navbar-nav a.nav-link {
      margin: 35px 0 28px;
      padding: 0 20px;
    }
    .btn-dropdown {
      display: none;
    }
    .navbar-nav div.dropdown-menu {
      margin-top: -1px;
      padding-bottom: 0;
      .dropdown-item {
        padding: 18px 90px 18px 18px;
      }
    }
  }
  .navbar-toggler {
    padding: 0;
    outline: none;
    .navbar-toggler-icon {
      background-image: url("./humberger-icon.svg");
    }
  }
  .navbar-nav {
    line-height: 30px;
    .home-container {
      margin-top: 7px;
    }
    .nav-link {
      background-color: transparent;
      color: $white;
      @media (min-width: $breakpoint-xl) {
        &:hover {
          color: $gray_nobel;
        }
      }
    }
    .btn {
      padding: 0;
      box-shadow: none;
    }
    .dropdown-head {
      display: flex;
      align-content: flex-start;
      justify-content: space-between;
    }
    .dropdown-menu {
      border-radius: 0;
      padding: 0;
      padding-bottom: 15px;
    }
    .concept-dropdown {
      background-color: $black;
      padding-top: 0;
      margin-top: 0;
      .dropdown-item {
        padding: 15px 0 15px 12px;
        color: $white;
        &:hover {
          background-color: $black;
        }
      }
    }
    .download-container {
      margin-bottom: 7px;
    }
  }
}
