@use "../../variables" as *;

.news-border {
  font-size: 0;
  border: solid 1px $gray_gainsboro;
  margin: 0px 0px -1px;
  .news-day-and-theme-wrap {
    margin: 20px;
    .news-day {
      color: $gray_nobel;
      font-size: $fontsize-xs;
    }
    .news-theme {
      margin-top: 10px;
      color: $black;
      font-size: $fontsize-m;
      width: 90%;
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
.news-list-link-container {
  text-align: right;
  margin-top: 30px;
}
