<div class="news">
  <h3 class="news-and-events-title">
    <span class="english">News</span><span class="japanese">お知らせ</span>
  </h3>
  <a href="#" class="news-theme-link">
    <article class="news-border">
      <div class="news-day-and-theme-wrap">
        <div class="news-day">
          <time datetime="2018-06-20">2018.06.20</time>
        </div>
        <p class="news-theme">
          ブックカフェ・コワーキング系サイト向けテーマ「Switch」をリリースしました。
        </p>
      </div>
    </article>
  </a>
  <a href="#" class="news-theme-link">
    <article class="news-border">
      <div class="news-day-and-theme-wrap">
        <div class="news-day">
          <time datetime="2018-06-18">2018.06.18</time>
        </div>
        <p class="news-theme">
          3種のレイアウトから選択できるテンプレートを固定ページに実装
        </p>
      </div>
    </article>
  </a>
  <a href="#" class="news-theme-link">
    <article class="news-border">
      <div class="news-day-and-theme-wrap">
        <div class="news-day">
          <time datetime="2018-06-12">2018.06.12</time>
        </div>
        <p class="news-theme">
          利用者からのご質問をまとめた「FAQ」ページをアップしました。
        </p>
      </div>
    </article></a
  >
  <a href="#" class="news-theme-link">
    <article class="news-border">
      <div class="news-day-and-theme-wrap">
        <div class="news-day">
          <time datetime="2018-06-08">2018.06.08</time>
        </div>
        <p class="news-theme">
          デモ用のサンプルデータを表示する「インポート機能」でサイト構築を快適に？
        </p>
      </div>
    </article></a
  >
  <a href="#" class="news-theme-link">
    <article class="news-border">
      <div class="news-day-and-theme-wrap">
        <div class="news-day">
          <time datetime="2018-06-02">2018.06.02</time>
        </div>
        <p class="news-theme">テーマのアップデート情報について</p>
      </div>
    </article></a
  >
  <div class="news-list-link-container">
    <a href="#" class="news-list-link"
      >お知らせ一覧<i class="fas fa-chevron-right"></i
    ></a>
  </div>
</div>
