<footer>
  <div class="contact">
    <img src="../../../img/top-logo.png" />
    <address>
      〒532-0011　大阪市淀川区西中島6丁目8-23テスト<br />
      TEL.06-1234-5678 FAX.06-1234-5678　営業時間 / 9:00 - 22:00　定休日 /
      不定休
    </address>
    <ul>
      <li>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
      </li>
      <li>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </li>
      <li>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </li>
      <li>
        <a href="#"><i class="fas fa-solid fa-rss"></i></a>
      </li>
    </ul>
  </div>
  <nav>
    <ul>
      <li>
        <a href="#">HOME</a>
      </li>
      <li>
        <a href="#">CONCEPT</a>
      </li>
      <li>
        <a href="#">SERVICE</a>
      </li>
      <li>
        <a href="#">FLLOR</a>
      </li>
      <li>
        <a href="#">INTERVIEW</a>
      </li>
      <li>
        <a href="#">BLOG</a>
      </li>
      <li>
        <a href="#">ACCESS</a>
      </li>
      <li>
        <a href="#">DOWNLOAD</a>
      </li>
    </ul>
  </nav>
  <div class="copyright-container">
    <small class="copyright">
      Copyright © WordPressテーマ「Switch(tcd063)」 All Rights Reserved.
    </small>
  </div>
</footer>
