@use "../../variables" as *;

.news-title {
  font-size: 0;
  width: 133px;
  margin-bottom: 32px;
  @media (min-width: $breakpoint-lg) {
    width: 186px;
  }
}
.english {
  font-weight: normal;
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px;
  font-size: $fontsize-l;
  font-family: $fontfamily-mincho;
  @media (min-width: $breakpoint-lg) {
    font-size: $fontsize-xxl;
  }
}
.japanese {
  vertical-align: middle;
  font-size: $fontsize-m;
}
