@use "../../variables" as *;

.news-title {
  font-weight: normal;
  width: 133px;
  @media (min-width: $breakpoint-lg) {
    width: 186px;
  }
  .vertical-middle {
    vertical-align: middle;
  }
  .english {
    margin-right: 16px;
    font-size: $fontsize-l;
    font-family: $fontfamily-mincho;
    margin-bottom: 32px;
    @media (min-width: $breakpoint-lg) {
      font-size: $fontsize-xxl;
    }
  }
  .japanese {
    font-size: $fontsize-m;
  }
}
