@use "../../variables" as *;

.message {
  padding-top: 50px;
  text-align: center;
  .message-subtitle {
    font-family: $fontfamily-mincho;
    font-size: $fontsize-l;
    margin-bottom: 8px;
  }
  .message-content {
    font-size: $fontsize-s;
  }

  @media (min-width: $breakpoint-lg) {
    padding-top: 52px;
    .message-subtitle {
      font-size: $fontsize-xl;
      margin-bottom: 10px;
    }
  }
}
