@use "../../variables" as *;

.btn-text {
  padding: 12.5px 64px;
  font-size: $fontsize-s;
  background-color: $black;
  color: $white;
  transition: 0.2s ease;
  cursor: pointer;
  @media (min-width: $breakpoint-md) {
    padding: 17.5px 49px;
    @media (min-width: $breakpoint-lg) {
      padding: 17.5px 74px;
    }
  }
}
.btn-text:hover {
  background-color: $orange_bistre;
  color: $white;
  text-decoration: none;
}
