@use "../../variables" as *;

.btn-text {
  padding-left: 64px;
  padding-right: 64px;
  padding-bottom: 12.5px;
  padding-top: 12.5px;
  font-size: $fontsize-s;
  background-color: $black;
  color: $white;
  transition: 0.2s ease;
}
.btn-text:hover {
  background-color: $orange_bistre;
  color: $white;
  text-decoration: none;
}

@media (min-width: $breakpoint-md) {
  .btn-text {
    padding-left: 49px;
    padding-right: 49px;
    padding-bottom: 17.5px;
    padding-top: 17.5px;
  }
}

@media (min-width: $breakpoint-lg) {
  .btn-text {
    padding-left: 74px;
    padding-right: 74px;
    padding-bottom: 17.5px;
    padding-top: 17.5px;
  }
}
