$white: #ffffff;
$white_smoke: #f5f5f5;
$gray_desertStorm: #ece9e6;
$gray_gainsboro: #dddddd;
$gray_nobel: #999999;
$black_50: rgba(0, 0, 0, 0.5);
$orange_zorba: #a19283;
$orange_bistre: #442606;
$black: #000000;
$XS: 12px;
$S: 14px;
$M: 16px;
$L: 20px;
$XL: 36px;
$XXL: 40px;
$fontfamily-mincho: "Noto Serif JP", "Roboto", "游明朝", YuMincho,
  "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN",
  "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
$fontfamily-gothic: "Noto Sans JP", "游ゴシック体", "Yu Gothic", YuGothic,
  "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3",
  "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
