@use "../../variables" as *;
.plans {
  width: 60%;
  margin: 100px 0;
  margin-right: auto;
  margin-left: auto;
  .message {
    padding: 0;
    margin: 0 25px 32px;
    .message-title {
      margin-bottom: 6px;
      color: $orange_bistre;
    }
  }
  .plan-container {
    @media (min-width: $breakpoint-md) {
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }
    .plan {
      margin-bottom: 24px;
      @media (min-width: $breakpoint-md) {
        flex: 1;
        margin: 0 15px 40px;
      }
      .plan-descriptions-blank {
        padding: 0 10px;
      }
    }
  }
  .button-container {
    text-align: center;
  }
}
