@use "../../variables" as *;
.news-and-events {
  padding-top: 65.5px;
  background-color: $white_smoke;
  article {
    background-color: $white;
  }
  .events-border-wrap
    .events-border
    .events-href
    .events-theme-and-day-wrap
    .events-theme {
    @media (min-width: $breakpoint-lg) {
      white-space: normal;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
}
