<section class="newsandevents">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="news">
          <h3 class="news-and-events-title">
            <span class="english">News</span
            ><span class="japanese">お知らせ</span>
          </h3>
          <a href="#" class="news-theme-link">
            <article class="news-border">
              <div class="news-day-and-theme-wrap">
                <div class="news-day">
                  <time datetime="2018-06-20">2018.06.20</time>
                </div>
                <p class="news-theme">
                  ブックカフェ・コワーキング系サイト向けテーマ「Switch」をリリースしました。
                </p>
              </div>
            </article>
          </a>
          <a href="#" class="news-theme-link">
            <article class="news-border">
              <div class="news-day-and-theme-wrap">
                <div class="news-day">
                  <time datetime="2018-06-18">2018.06.18</time>
                </div>
                <p class="news-theme">
                  3種のレイアウトから選択できるテンプレートを固定ページに実装
                </p>
              </div>
            </article>
          </a>
          <a href="#" class="news-theme-link">
            <article class="news-border">
              <div class="news-day-and-theme-wrap">
                <div class="news-day">
                  <time datetime="2018-06-12">2018.06.12</time>
                </div>
                <p class="news-theme">
                  利用者からのご質問をまとめた「FAQ」ページをアップしました。
                </p>
              </div>
            </article></a
          >
          <a href="#" class="news-theme-link">
            <article class="news-border">
              <div class="news-day-and-theme-wrap">
                <div class="news-day">
                  <time datetime="2018-06-08">2018.06.08</time>
                </div>
                <p class="news-theme">
                  デモ用のサンプルデータを表示する「インポート機能」でサイト構築を快適に？
                </p>
              </div>
            </article></a
          >
          <a href="#" class="news-theme-link">
            <article class="news-border">
              <div class="news-day-and-theme-wrap">
                <div class="news-day">
                  <time datetime="2018-06-02">2018.06.02</time>
                </div>
                <p class="news-theme">テーマのアップデート情報について</p>
              </div>
            </article></a
          >
          <div class="news-list-link-container">
            <a href="#" class="news-list-link"
              >お知らせ一覧<i class="fas fa-chevron-right"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="events">
          <div class="news-and-events-title">
            <h3 class="english">Events</h3>
            <span class="japanese">イベント</span>
          </div>
          <div class="events-border-wrap">
            <article class="events-border">
              <a href="#" class="events-href">
                <div class="events-img-hidden">
                  <img class="events-img" src="../../../img/events_1.png" />
                </div>
                <div class="events-theme-and-day-wrap">
                  <p class="events-theme">
                    全ての業種に対応した起業応援セミナーを開催します。
                  </p>
                  <div class="events-day">
                    <time datetime="2018-06-20">2018.06.20</time>
                  </div>
                </div>
              </a>
            </article>
            <article class="events-border">
              <a href="#" class="events-href">
                <div class="events-img-hidden">
                  <img class="events-img" src="../../../img/events_2.png" />
                </div>
                <div class="events-theme-and-day-wrap">
                  <p class="events-theme">
                    第3回Switchクリエイター交流会開催いたします！
                  </p>
                  <div class="events-day">
                    <time datetime="2018-06-18">2018.06.18</time>
                  </div>
                </div>
              </a>
            </article>
            <article class="events-border">
              <a href="#" class="events-href">
                <div class="events-img-hidden">
                  <img class="events-img" src="../../../img/events_3.png" />
                </div>
                <div class="events-theme-and-day-wrap">
                  <p class="events-theme">
                    Webビジネス初心者の方必見！Webサイト作成講座を3回にわたって開催します。
                  </p>
                  <div class="events-day">
                    <time datetime="2018-06-12">2018.06.12</time>
                  </div>
                </div>
              </a>
            </article>
          </div>
          <div class="events-list-link-container">
            <a href="#" class="news-list-link"
              >イベント一覧<i class="fas fa-chevron-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
