@use "../../variables" as *;

.card-container {
  margin: 40px 0 100px;
  @media (min-width: $breakpoint-md) {
    display: flex;
    .card {
      flex: 1;
      margin-left: 12px;
      margin-right: 12px;
      margin-bottom: 0;
    }
  }
  .card {
    margin-bottom: 40px;
  }
}
